<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Scott</title>
    <link rel="icon" type="image/x-icon" href="home.png">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand home-icon" href="/">
                <img src="home.png" width="36.5">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="./joke">Joke</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Redis
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Speed</a>
                      <a class="dropdown-item" href="#">Queue</a>
                  </div>
                </li>
              </ul>
            </div>
        </div>
    </nav>

    <div class="container pt-3">
        <div class="card" style="width: 18rem;">
            <a href="/joke">
                <img class="card-img-top" src="father.jpg" alt="Card image cap">
            </a>
            <div class="card-body">
                <h6 class="card-text">What do you call a cow with two legs? Lean beef.</h6>
                <a href="/joke" class="card-link">More jokes</a>
            </div>
        </div>
    </div>


<!--    <blockquote class="blockquote spacer">-->
<!--        <p class="mb-0">I tried to be useful.</p>-->
<!--        <footer class="blockquote-footer">Charlie Munger</footer>-->
<!--    </blockquote>-->

<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col" style="border:1px solid red">col</div>-->
<!--            <div class="col" style="border:1px solid red">col</div>-->
<!--            <div class="col" style="border:1px solid red">col</div>-->
<!--            <div class="col" style="border:1px solid red">col</div>-->
<!--            <div class="col" style="border:1px solid red">col</div>-->
<!--        </div>-->
<!--    </div>-->

</body>

<style>
    .home-icon {
        padding: 0px;
    }
    .spacer {
         padding-top: 40px;
         padding-bottom: 40px
    }
</style>

</html>