<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Thymeleaf Example</title>
</head>
<body>
    <h1 th:text="${message}"></h1>
    <ul>
        <li>Shit's lightweight and loads fast</li>
        <li>Fits on all your shitty screens</li>
        <li>Looks the same in all your shitty browsers</li>
        <li>The motherfucker's accessible to every asshole that visits your site</li>
        <li>Shit's legible and gets your fucking point across</li>
        <li>Relax and read this <a href="/joke">dad's joke</a></li>
    </ul>
</body>
</html>